
//
// VARIABLES
//

// Colors 
$blue: #3333cc;

// Grays
$black: #ff3300;
$darkerGray: #222;
$red: #ff0000;
$gray: #b30000;
$lightGray: #eee;
$black: #000000;

// Font stacks
$helvetica: Helvetica, Arial, Bernhard fashion;
$helveticaNeue: "Bordeaux", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
